.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

/* Slick Carousel Styles */
.blog-carousel .slick-dots li button:before {
  color: #1E3A8A; /* Dot color */
}
.blog-carousel .slick-dots li.slick-active button:before {
  color: #06B6D4; /* Active dot color */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .blog-carousel {
    .slick-slide {
      margin: 0 10px;
      margin-bottom: 2rem; /* Add margin for better spacing on mobile */
    }
    .slick-list {
      margin: 0 -10px; /* Adjust for the added margin */
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes typing {
  from { width: 0 }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  animation: typing 2s steps(40, end);
}




